.sidebarMainLayout {
  width: 30%;
  margin: 0.5rem;
  background-color: lightgreen;
  transition: width 0.3s ease;
  position: relative;
  border-radius: 0.5rem;
}
.collapsed {
  width: 10%;
}
.sidebarMainLayout header {
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.appDetails {
  display: flex;
  align-items: center;
  justify-content: center;
}
.expandBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.appLogo {
  margin-right: 1rem;
}
.expandBtn button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}
nav {
  /* background-color: yellow; */
  text-transform: capitalize;
  padding: 1rem;
}
nav ul {
  /* margin: 1rem; */
  list-style-type: none;
  /* background-color: orange; */
}
nav ul li {
  /* margin: 1rem; */
  font-size: large;
  font-weight: 600;
  border-radius: 2rem;
  /* background-color: violet; */
}
nav ul li a {
  margin-left: 1rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: start;
}
nav ul li span {
  margin: 1rem;
}
footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 1rem;
}
footer ul {
  list-style-type: none;
}
footer ul li {
  padding: 1rem;
}
footer ul li a {
  text-decoration: none;
}
footer ul li button {
  padding: 0.5rem;
  border-radius: 2rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer ul li button span {
  margin-left: 1rem;
  font-size: large;
  font-weight: 600;
  text-transform: capitalize;
}
@media only screen and (max-width: 768px) {
  .appDetails {
    display: none;
  }
  .sidebarMainLayout header {
    justify-content: center;
  }
  /* footer ul li button span {
    display: none;
  } */
  nav ul li span {
    display: none;
  }
  nav ul li {
    margin: 1rem;
  }
}
@media only screen and (max-width: 425px) {
  .sidebarMainLayout {
    display: none;
  }
}
